In [1]:
import pandas as pd

In [2]:
filePath='../../../../RU-JER-DATA-PT-01-2020/02-Homework/04-Pandas/'\
'Instructions/HeroesOfPymoli/Resources/purchase_data.csv'

p=pd.read_csv(filePath)
p.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
uniquePlayers=len(p['SN'].unique())
uniquePlayers

576

In [4]:
uniqueItems=len(p['Item ID'].unique())
avgPrice=p['Price'].mean()
totalPurchases=p['Purchase ID'].count()
totalRevenue=p['Price'].sum()

purchasingAnalysis=pd.DataFrame({
    'Number of Unique Items':[uniqueItems],
    'Average Price':[avgPrice],
    'Number of Purchases':[totalPurchases],
    'Total Revenue':[totalRevenue]
})

purchasingAnalysis['Average Price']=purchasingAnalysis['Average Price'].map("${:.2f}".format)
purchasingAnalysis['Total Revenue']=purchasingAnalysis['Total Revenue'].map("${:,.2f}".format)

purchasingAnalysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [5]:
uniquep=p.drop_duplicates('SN')

genderCounts=uniquep["Gender"].value_counts()
genderpercents=uniquep["Gender"].value_counts()/uniquePlayers*100

genderDemographics=pd.DataFrame({
    'Total Count':genderCounts,
    'Percentage of Players':genderpercents
})

genderDemographics['Percentage of Players']=genderDemographics['Percentage of Players'].map("{:.2f}%".format)

genderDemographics

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [8]:
a=p.groupby("Gender")
purchaseCount=a['Purchase ID'].count()
averagePrice=a["Price"].mean()
totalPurchaseValue=a['Price'].sum()

b=uniquep.groupby("Gender")
uniqueCountGender=b['SN'].count()

averageTotalPerson=totalPurchaseValue/uniqueCountGender

purchasingAnalysisGender=pd.DataFrame({
    'Purchase Count':purchaseCount,
    'Average Purchase Price':averagePrice,
    'Total Purchase Value':totalPurchaseValue,
    'Avg Total Purchase per Person':averageTotalPerson
})

purchasingAnalysisGender['Average Purchase Price']=purchasingAnalysisGender['Average Purchase Price'].map("${:,.2f}".format)
purchasingAnalysisGender['Total Purchase Value']=purchasingAnalysisGender['Total Purchase Value'].map("${:,.2f}".format)
purchasingAnalysisGender['Avg Total Purchase per Person']=purchasingAnalysisGender['Avg Total Purchase per Person'].map("${:,.2f}".format)

purchasingAnalysisGender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56